body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
	 background-image: url('image4.jpg');
  background-size: cover; /* Покрывает весь экран, сохраняя пропорции изображения */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Предотвращает повторение изображения */
  background-attachment: fixed; /* Фоновое изображение остается неподвижным при прокрутке страницы */
}

.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #99ff99;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.survey-form {
    display: flex;
    flex-direction: column;
}

.survey-form h1, .survey-form h2 {
    text-align: center;
}

.survey-form fieldset {
    border: none;
    margin: 1px 0;
}

.survey-form label {
    display: block;
    margin-bottom: 1px;
}

.survey-form button {
    background-color: #CC0066;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.survey-form button:hover {
    background-color: #00FF99;
}